.text {
  font-weight: 500;
  font-size: 20px;
}

.input {
  font-weight: 500;
  font-size: 15px;

  height: 35px;
  width: 300px;
  padding: 5px;

  outline: none;
}

.searchBox {
  margin-top: 30px;
  margin-bottom: 30px;
}
